.main__aside {
    height: 1000vh;
    width: 50px;
    border-right: 1px solid #E8E9F0;
    text-align: center;
position: fixed;
top: 74px;
  }
  .aside__menu {
    padding: 0;
    list-style: none;
  margin-top: 40px;
  }
  

  
  .item__icon {
    margin-bottom: 64px;
  }