<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/elon.css">
    <title>Document</title>
</head>
<body>
    <div class="continer">
        <div class="input-continer">
            <div id="inputs">
                <input id="img" type="file">
                <input id="firstname" type="text" placeholder="Ism">
                <input id="yonalish" type="text" placeholder="Yo`nalish">
                <input id="email" type="text" placeholder="email">
                <input id="descripion" type="text" placeholder="knjdkwjnk">
                <input id="tel" type="text" placeholder="Operator bog`lanishi uchun tel:">
                <input id="date" type="date">
                <input id="time" type="time">
                <div class="card-list">
                    <select id="kartegoriya">
                        <option value="all">All</option>
                        <option value="it">It</option>
                        <option value="bussines">Bussines</option>
                        <option value="marketing">Marketing</option>
                        <option value="talim">Talim</option>
                        <option value="boshqa">Boshqa</option>
                    </select>
                    <select id="supkartegoriya">
                        <option value="all">All</option>
                        <option value="it">It</option>
                        <option value="bussines">Bussines</option>
                        <option value="marketing">Marketing</option>
                        <option value="talim">Talim</option>
                        <option value="boshqa">Boshqa</option>
                    </select>
                </div>
                <input id="tt" type="text" placeholder="Title">
                <input id="fileInput" type="file">
                <select id="type">
                    <option value="true">Online</option>
                    <option value="false">Offline</option>
                </select>
                <input id="link" type="text" placeholder="Ijtimoiy tarmoq linki">
                <textarea id="info" cols="30" rows="10" placeholder="Tadbir haqida to`liq ma`lumot bering"></textarea>
                <div class="button">
                    <button id="ok">Yuborish</button>
                    <button  id="no">Bekor qilish</button>
                </div>
            </div>
        </div>
        <div class='myelon'>
            <div class="list">
                <div class="img-raqam">
                    <img src="https://picsum.photos/100" alt="elon">
                    <span>Buyurtma raqami: #16846868</span>
                </div>
                
                <div id="tana">
                    <h3 id="title">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus vero impedit at laboriosam. Iusto ipsum praesentium voluptate asperiores. Aliquid, tenetur.</h3>
                    <div id="kart">
                        <span>kartegoriya</span>
                        <span>supkartegoriye</span>
                    </div>
                    <div id="list-footer">
                        <span>Online</span>
                        <span>21-05-2021</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="./js/util.js"></script>
    <script src="./js/elon.js"></script>
</body>
</html>