<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/elon1.css">
    <title>Document</title>
</head>
<body>
    <div class="continer">
        <div class="list">
            <div class="img">
                <span>Sarvarbek</span>
                <span>Musoboqa</span>
                <img src="https://picsum.photos/400" alt="">
            </div>
            <div class="data">
                <p class="ttle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam excepturi, porro quaerat culpa dolorum reprehenderit animi blanditiis incidunt mollitia modi.</p>
                <p class="info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque similique quia deserunt. Iure ducimus quibusdam eveniet officia tempora eos impedit optio adipisci dicta repudiandae ab magnam, nihil maxime deserunt minima. Quaerat reprehenderit cumque quo nemo architecto illum expedita vel? Nesciunt ab est optio voluptas nulla itaque vero cupiditate neque tempore quas incidunt consequatur ipsum maxime at reprehenderit dolor, voluptatem perspiciatis atque! Odio sequi enim velit quae ea esse sed minus totam tempora eveniet eaque itaque expedita voluptatum, eius mollitia earum. Ad necessitatibus sed quidem consectetur fuga, omnis tempora reiciendis, voluptatem aliquid beatae quod earum consequuntur cupiditate nulla. Corporis, saepe quod?</p>
                <p class="time">20/06/2022</p>
                <p class="tel">+998902060398</p>
                <p class="link"><a href="https://google.com"></a></p>
                <p class="view">1000</p>
            </div>

        </div>
    </div>
    <script src="/js/util.js" ></script>
    <script src="/js/elon1.js" ></script>
</body>
</html>