<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
<link rel="stylesheet" href="css/main.css">
</head>
<body>

<header class="header">
  <div class="header__container container">
    <nav class="header__nav nav">
        <button class="nav__menu-btn"></button>
      <div class="nav__menu-box">
        <a href="#" class="nav__menu-link">Loyha haqimizda</a>
        <a href="#" class="nav__menu-link">Yordam</a>
      </div>
    <a href="#" class="nav__logo">
      <img src="img/logo-site.svg" width="70" height="30" alt="logo">
    </a>

    <form class="nav__form" method="post">
      <span class="nav__search-span">
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M10.2452 9.30493C11.8744 7.21261 11.7272 4.1855 9.80379 2.26205C7.72099 0.179252 4.34411 0.179252 2.26132 2.26205C0.17852 4.34484 0.17852 7.72172 2.26132 9.80452C4.18477 11.728 7.21188 11.8751 9.3042 10.246C9.31323 10.2562 9.32262 10.2662 9.33238 10.2759L12.1608 13.1044C12.4212 13.3647 12.8433 13.3647 13.1036 13.1044C13.364 12.844 13.364 12.4219 13.1036 12.1615L10.2752 9.33312C10.2654 9.32336 10.2554 9.31396 10.2452 9.30493ZM8.86098 3.20486C10.4231 4.76695 10.4231 7.29962 8.86098 8.86171C7.29888 10.4238 4.76622 10.4238 3.20412 8.86171C1.64203 7.29962 1.64203 4.76695 3.20412 3.20486C4.76622 1.64276 7.29888 1.64276 8.86098 3.20486Z" fill="#17266E"/>
        </svg>
      </span>
      <input class="nav__input" type="text" placeholder="Qidiruv">
    </form>

      <a href="#" class="nav__link">Loyha haqimizda</a>
      <a href="#" class="nav__link">Yordam</a>

      <a href="/add" class="nav__announce">Elon berish</a>
    </nav>
  </div>
</header>

<main class="main">
  <div class="main__background"></div>
<div class="main__container container">
<section class="filter">
  <form class="filter-search__form" method="post">
    <span class="filter-search__span">
      <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.2452 9.30493C11.8744 7.21261 11.7272 4.1855 9.80379 2.26205C7.72099 0.179252 4.34411 0.179252 2.26132 2.26205C0.17852 4.34484 0.17852 7.72172 2.26132 9.80452C4.18477 11.728 7.21188 11.8751 9.3042 10.246C9.31323 10.2562 9.32262 10.2662 9.33238 10.2759L12.1608 13.1044C12.4212 13.3647 12.8433 13.3647 13.1036 13.1044C13.364 12.844 13.364 12.4219 13.1036 12.1615L10.2752 9.33312C10.2654 9.32336 10.2554 9.31396 10.2452 9.30493ZM8.86098 3.20486C10.4231 4.76695 10.4231 7.29962 8.86098 8.86171C7.29888 10.4238 4.76622 10.4238 3.20412 8.86171C1.64203 7.29962 1.64203 4.76695 3.20412 3.20486C4.76622 1.64276 7.29888 1.64276 8.86098 3.20486Z" fill="#fff"/>
      </svg>
    </span>
    <input class="filter-search__input" type="text" placeholder="Qidiruv">
  </form>
  <div class="filter__text-box">
    <h1 class="filter__title">
      Checking the network cables modem, and router
    </h1>
    <p class="filter__text">
      Checking the network cables modem, and router
    </p>
  </div>
  <form class="filter__form" method="post">
    <input class="filter__date" value="2021-01-29" type="date">
    <div class="filter__category-box">
      <div class="filter__category category">
        <button class="category__select-btn" id="cart" value="Kategoriya">Kategoriya</button>
        <div class="category__dropdown">
          <div class="category__dropdown-box">
            <!-- <button class="category__btn" value="dizayn">Dizayn
              <span class="category__count">23</span>
            </button>
            <button class="category__btn" value="it">IT</button>
            <button class="category__btn" value="qurilish">Qurilish
              <span class="category__count">4</span></button>
            <button class="category__btn" value="ta'lim">Ta'lim
              <span class="category__count">1</span>
            </button>
            <button class="category__btn" value="sog'liqni saqlash">Sog'liqni saqlash</button>
            <button class="category__btn" value="iqtisod">Iqtisod
              <span class="category__count">6</span>
            </button>
            <button class="category__btn" value="biznes">Biznes
              <span class="category__count">13</span>
            </button>
            <button class="category__btn" value="turizm">Turizm</button>
            <button class="category__btn" value="ekologiya">Ekologiya</button> -->
          </div>
        </div>
      </div>
      <div class="filter__subcategory subcategory">
        <ul class="subcategory__list">
          <!-- <li class="subcategory__item">
            <button class="subcategory__btn">Java</button>
          </li>
          <li class="subcategory__item">
            <button class="subcategory__btn">Python</button>
          </li>
          <li class="subcategory__item">
            <button class="subcategory__btn">Css</button>
          </li>
          <li class="subcategory__item">
            <button class="subcategory__btn">HTML</button>
          </li>
          <li class="subcategory__item">
            <button class="subcategory__btn">C++</button>
          </li> -->
        </ul>
      </div>
    </div>
    <div class="filter__subcategory-mobile subcategory-mobile ">
      <button class="subcategory-mobile__btn">
        Sohalar
      </button>
      <ul class="subcategory-mobile__list">
        <li class="subcategory-mobile__item">
          <button class="subcategory-mobile__info">Java</button>
        </li>
        <li class="subcategory-mobile__item">
          <button class="subcategory-mobile__info">Python</button>
        </li>
        <li class="subcategory-mobile__item">
          <button class="subcategory-mobile__info">Css</button>
        </li>
        <li class="subcategory-mobile__item">
          <button class="subcategory-mobile__info">HTML</button>
        </li>
        <li class="subcategory-mobile__item">
          <button class="subcategory-mobile__info">C++</button>
        </li>
      </ul>
    </div>
    <div class="filter__tip">
      <button class="tip__btn tip__btn--active">Offline</button>
      <button class="tip__btn">Online</button>
    </div>
    <div class="filter__speaker speaker">
      <input class="speaker__input" list="speaker" name="speaker" id="filter-speaker" placeholder="Speaker">
      <datalist id="speaker">
        <!-- <option value="Muhammadali Eshonqulov">
        <option value="Temurbek Adhamov">
        <option value="Umidjon Ishmukhamedov">
        <option value="Jakhongir Pulatov">
        <option value="Abdusattor Abdurahimov"> -->
      </datalist>
    </div>
  </form>

</section>
<section class="hero">
  <h2 class="visually-hidden"></h2>
  <ul class="hero__list">
    <!-- <li class="hero__item">
      <div class="hero__item-box">
        <img src="/img/img-bg-list1.png" alt="" class="hero__img">
        <h3 class="hero__title">O'zbekistonda UX/UI dizayner qancha pul topadi?</h3>
        <div class="hero__date-box">
          <span class="hero__date">26/01/2022 | <span class="hero__hour"> 10:00</span>
          </span>
          <span class="hero__tip">Offline</span>
        </div>
        <div class="hero__bottom">
          <div class="hero__profile-box">
            <img src="img/img-person.png" alt="" class="hero-profile__img">
            <div class="hero__title-box">
              <h4 class="hero-profile__title">Abbos Janizakov</h4>
              <p class="hero-profile__text">UX / UI Dizayner</p>
            </div>
          </div>
          <span class="hero__view">1300</span>
        </div>
      </div>
    </li> -->
  </ul>

  <div class="hero__more-box">
    <button class="view-more__btn">Yana yukash</button>
  </div>
</section>
<section class="help">

</section>
</div>
</main>

<footer class="footer">
  <div class="footer__container container">
    <p>footer</p>
  </div>
</footer>
<script>
    const elBtns = document.querySelectorAll('.tip__btn')

  document.querySelector('.filter__form').addEventListener('submit', evt => {
    evt.preventDefault()
  })

  // document.querySelector('.main').addEventListener('click', evt => {
  //   // if (!evt.target.classList.contains('category__select-btn') && !evt.target.classList.contains('category__btn') && !evt.target.classList.contains('subcategory__btn')) {
  //   //   console.log('error');
  //   //   document.querySelector('.category').classList.remove('category--active')
  //   //   document.querySelector('.subcategory').classList.remove('subcategory--active')
  //   // }

  //   if (evt.target.classList.contains('category__select-btn')) {
  //     document.querySelector('.category').classList.toggle('category--active')
  //   }
  //   if(evt.target.classList.contains('category__btn')) {
  //     document.querySelector('.subcategory').classList.toggle('subcategory--active')
  //     document.querySelector('.filter').classList.toggle('filter--mobile')
  //   }

  //   if (!document.querySelector('.category--active')) {
  //     document.querySelector('.subcategory').classList.remove('subcategory--active')
  //   }

  //   if(evt.target.classList.contains('subcategory-mobile__btn')) {
  //     document.querySelector('.subcategory-mobile').classList.toggle('subcategory-mobile--active')
  //   }
  // })

  elBtns.forEach(btn => {
    btn.addEventListener('click', evt => {
      elBtns[0].classList.remove('tip__btn--active')
      elBtns[1].classList.remove('tip__btn--active')


      btn.classList.add('tip__btn--active')
    })
  })
</script>
<script src="js/util.js"></script>
<script src="js/main.js"></script>
</body>
</html>