<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">
    <title>Document</title>
</head>
<body>
    <div class="continer">
        <div class='header'>
            <ul class="header-list">
                <li><img src="https://picsum.photos/100/20" alt="logo"></li>
                <li>Biz haqimizda</li>
                <li>Yordam</li>
                <button>E'lon berish</button>
            </ul>
        </div>
        <div class="main">
            <div class="search">
                <div class="input-list">
                    <input id="date" type="datetime-local">
                    <select id="kartegoriya">
                        <option value="all">All</option>
                        <option value="it">It</option>
                        <option value="bussines">Bussines</option>
                        <option value="marketing">Marketing</option>
                        <option value="talim">Talim</option>
                    </select>
                    <select id="supkartegoriya">
                        <option value="all">All</option>
                        <option value="it">It</option>
                        <option value="bussines">Bussines</option>
                        <option value="marketing">Marketing</option>
                        <option value="talim">Talim</option>
                    </select>
                    <input id="author" type="text">
                </div>
                <div class="knopka">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto illum quisquam </p>
                    <div class="knopka-but">
                        <button>online</button>
                        <button>offline</button>
                    </div>
                </div>
            </div>
            <div class="elonlar">
                <!-- <div class="list">
                    <img src="https://picsum.photos/400" alt="elon">
                    <div id="tana">
                        <h3 id="title">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus vero impedit at laboriosam. Iusto ipsum praesentium voluptate asperiores. Aliquid, tenetur.</h3>
                        <div id="kart">
                            <span>kartegoriya</span>
                            <span>supkartegoriye</span>
                        </div>
                        <div id="list-footer">
                            <span>Online</span>
                            <span>21-05-2021</span>
                        </div>
                    </div>
                </div>
                <div class="list">
                    <img src="https://picsum.photos/400" alt="elon">
                    <div id="tana">
                        <h3 id="title">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus vero impedit at laboriosam. Iusto ipsum praesentium voluptate asperiores. Aliquid, tenetur.</h3>
                        <div id="kart">
                            <span>kartegoriya</span>
                            <span>supkartegoriye</span>
                        </div>
                        <div id="list-footer">
                            <span>Online</span>
                            <span>21-05-2021</span>
                        </div>
                    </div>
                </div>
                <div class="list">
                    <img src="https://picsum.photos/400" alt="elon">
                    <div id="tana">
                        <h3 id="title">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus vero impedit at laboriosam. Iusto ipsum praesentium voluptate asperiores. Aliquid, tenetur.</h3>
                        <div id="kart">
                            <span>kartegoriya</span>
                            <span>supkartegoriye</span>
                        </div>
                        <div id="list-footer">
                            <span>Online</span>
                            <span>21-05-2021</span>
                        </div>
                    </div>
                </div>
                <div class="list">
                    <img src="https://picsum.photos/400" alt="elon">
                    <div id="tana">
                        <h3 id="title">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus vero impedit at laboriosam. Iusto ipsum praesentium voluptate asperiores. Aliquid, tenetur.</h3>
                        <div id="kart">
                            <span>kartegoriya</span>
                            <span>supkartegoriye</span>
                        </div>
                        <div id="list-footer">
                            <span>Online</span>
                            <span>21-05-2021</span>
                        </div>
                    </div>
                </div>
                <div class="list">
                    <img src="https://picsum.photos/400" alt="elon">
                    <div id="tana">
                        <h3 id="title">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus vero impedit at laboriosam. Iusto ipsum praesentium voluptate asperiores. Aliquid, tenetur.</h3>
                        <div id="kart">
                            <span>kartegoriya</span>
                            <span>supkartegoriye</span>
                        </div>
                        <div id="list-footer">
                            <span>Online</span>
                            <span>21-05-2021</span>
                        </div>
                    </div>
                </div>
                <div class="list">
                    <img src="https://picsum.photos/400" alt="elon">
                    <div id="tana">
                        <h3 id="title">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus vero impedit at laboriosam. Iusto ipsum praesentium voluptate asperiores. Aliquid, tenetur.</h3>
                        <div id="kart">
                            <span>kartegoriya</span>
                            <span>supkartegoriye</span>
                        </div>
                        <div id="list-footer">
                            <span>Online</span>
                            <span>21-05-2021</span>
                        </div>
                    </div>
                </div> -->
            </div>
        
        </div>
    </div>
<script src="./js/util.js"></script>
<script src="./js/index.js"></script>
</body>
</html>