*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.continer{
    display: flex;
    flex-direction: column;
}

.input-continer{
    margin: 100px auto;
    padding: 25px;
    width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


#inputs{
    width: 70%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}

#inputs input{
    margin: 15px 0px;
    padding: 6px;
}

#inputs input:nth-child(6){
    margin-top: 0;
    margin-bottom: 10px;
}

textarea{
    padding: 10px;
}

.button{
    margin-top: 15px;
}

.button button{
    margin-right: 15px;
}


.myelon{
    margin-top: 5px;
    margin-bottom: 5px;
    margin: 0px auto;
    padding: 25px;
    width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


#list{
    display: flex;
}

span{
    margin-right: 50px; 
}

.img-raqam{
    display: flex;
    align-items: center;
}

.img-raqam span{
    margin-left: 30px;
}
