.breadcrumb {
  padding: 30px 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.breadcrumb__item {
  display: flex;
  align-items: center;

  &:last-child{
    margin-right: 0;
  }
 
  &:not(:last-child)::after{
    content: '';
    width: 1px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0 10px;
  }
}

.breadcrumb__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.2);

  &--active{
    color: #000;
  }
}
