.card-wrapper {
  width: 100%;
}

.card-wrapper__info {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
}

.card-wrapper__year {
  margin-right: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.card-wrapper__time {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

@include breakpoint-down(1000px) {
  .card-wrapper {
    width: 50%;
  }
}


@include breakpoint-down (650px) {
  .card-wrapper {
    width: 100%;
  }
}