.card-wrapper__info {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
}

.card-wrapper__year {
  margin-right: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.card-wrapper__time {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}