.card-info {
  width: 100%;
  margin-bottom: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.card__box {
  min-width: 28%;
  max-width: 32%;
  height: auto;
  margin-right: 40px;
  background-color: #526EFF;
  border-radius: 2px;
}

.card-main {
  padding: 0 25px 40px 25px;
}

.card__box-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 13px;
  line-height: 17px;
  color: #FFFFFF;
}

.card__box-link {
  margin-bottom: 24px;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #000;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__box-number {
  text-decoration: none;
  margin-bottom: 45px;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.card__box-watch {
  display: flex;
  align-items: center;
  font-size: 11px;
  line-height: 13px;
  color: #FFFFFF;

  &::before {
    margin-right: 6px;
    width: 15px;
    height: 10px;
    background-image: url('../../img/watch.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    content: '';
  }
}

.card__detail {
  margin-right: 50px;
}

.card__title {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  color: #000;
}

.card__text {
  margin-top: 0;
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 14px;
  line-height: 33px;
  color: #000;
}

.card__img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 40px;
}

.card__quotes {
  margin-bottom: 70px;
  font-weight: 500;
  font-size: 18px;
  line-height: 33px;
  color: #000;
}

.card__detail-btn {
  display: flex;
}

.card-link__box {
  display: flex;
  align-items: center;
}

@include breakpoint-down (1200px) {
  .card__detail {
    width: 60%;
  }
}


@include breakpoint-down (1000px) {

  .card {
    flex-direction: column;
    align-items: center;
  }

  .card__box {
    margin: 0 auto;
    margin-bottom: 58px;
    width: 80%;
    max-width: 80%;
    box-sizing: border-box;
  }

  .card-main {
    padding: 0 35px 60px 35px;
  }

  .card-main__holder {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .card__detail {
    width: 80%;
    margin: 0 auto;
  }

  .card__title,
  .card__img,
  .card__text,
  .card__quotes {
    width: 100%;
  }

  .card__box-link {
    width: 100%;
  }

}

@include breakpoint-down (800px) {
  .card__box {
    width: 90%;
    max-width: 90%;
  }

  .card__detail {
    width: 90%;
  }
}

@include breakpoint-down (650px) {
  .card__box {
    width: 100%;
    max-width: 100%;
  }

  .card__detail {
    width: 100%;
  }
}

@include breakpoint-down(580px) {

  .card-main__holder {
    flex-direction: column;
    align-items: flex-start;
  }

  .card-main{
    padding: 20px;
  }

  .card__title {
    font-size: 18px;
  }

  .card__text {
    font-size: 12px;
    line-height: 15px;
  }

  .card__quotes {
    font-size: 14px;
    line-height: 28px;
  }
}
